$graycolor:#FCFDFF;
$deepcolor:#2A2C44;
$darkcolor:#35395C;
$lightcolor:#3D4368;
$whitecolor:#FFFFFF;
$iconColor:#0bb8fa;
$lightRed:rgb(252,88,75);
$darkRed:rgb(247,65,114);
$baseWidth:8px;
$gradientColor:linear-gradient(to bottom right, $lightcolor, $darkcolor);

body{
  background-color:$graycolor;
  margin-left: $baseWidth*25;
  padding: 0;
  margin-top: 0;
  margin-right: 0;

}
.container{
  margin: $baseWidth*3;
  display: grid;
  .col{
    display: grid;
    grid-template-columns: auto;
  }
  .col-2{
    @extend .col;
    grid-template-columns: auto auto;
  }
  .col-3{
    @extend .col;
    grid-template-columns: auto auto auto;
  }
  .col-4{
    @extend .col;
    grid-template-columns: auto auto auto auto;
  }
  .col-5{
    @extend .col;
    grid-template-columns: auto auto auto auto auto;
  }
  .col-6{
    @extend .col;
    grid-template-columns: auto auto auto auto auto auto;
  }

}
#barmodel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: auto;
  top:0;
  left: 0;
  .iconcolor {
    i {
      color: $iconColor;
    }
  }
    .iconmargin {
      i {
      margin-right: $baseWidth*2;
    }
  }
}

#navbar{
  @extend #barmodel;
  background-color: rgba(0,0,0,0);
  position: sticky;
  overflow: hidden;
  width: 100%;
  height: $baseWidth*10;
  box-shadow: 0 $baseWidth*0.5 $baseWidth 0 rgba(0, 0, 0, 0.2);
  a {
    display: block;
    color: $deepcolor;
    text-decoration: none;
    i, img {
      padding: $baseWidth*3 $baseWidth*2;
      float: right;
      &:hover{
        background: $iconColor;
        color:$whitecolor;
      }
    }
  }
  h1,h2,h3,h4,h5{
    margin-left: $baseWidth*2;
    float: left;
  }
}
#slidebar {
  @extend #barmodel;
  width: $baseWidth*25;
  background-image: linear-gradient(to bottom right, $darkcolor, $deepcolor);
  height: 100%;
  span{
    img {
      width: $baseWidth*20;
      padding: $baseWidth*2;
    }
  }

  li {
    a {
      display: block;
      color: $whitecolor;
      margin-left: $baseWidth;
      padding: $baseWidth $baseWidth*2;
      text-decoration: none;
      &.active{
        background-color: $deepcolor;
        color: $whitecolor;
        border-radius: $baseWidth*5 0 0 $baseWidth*5;

      }
      &:hover {
        @extend .active;
        @extend .iconcolor;
      }
        @extend .iconmargin;
    }
  }
  .bottom{
    color: $whitecolor;
    margin: $baseWidth*3;
    padding: $baseWidth $baseWidth*2;
    position: fixed;
    display: block;
    bottom: 0;
    overflow: auto;
    @extend .iconmargin;
    &:hover {
      background-color: $deepcolor;
      color: $whitecolor;
      border-radius: $baseWidth*5;
      @extend .iconcolor;
    }
  }
  h1,h2,h3,h4{

    margin-left: $baseWidth;
    padding: $baseWidth;
    color: $whitecolor;
  }
}

.card{
  margin: $baseWidth;
  background-color: $whitecolor;
  border-radius: $baseWidth;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  h1,h2,h3,h4,h5,h6,p{
    margin-left: $baseWidth*2;
  }


}

.gradientRed{
  color: $graycolor;
  background-image: linear-gradient(to bottom right, $lightRed, $darkRed);
}

.b-t-icon{
  margin-top: -$baseWidth*5;
  margin-right: $baseWidth;
  margin-bottom: $baseWidth;
  float: right;
  position: relative;
  right: 0;
  color: rgba(0,0,0,0.12);
}




